html, * {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
}

body {
  font-family: 'Pirulen', sans-serif;
  background-image: url('../images/field.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  margin: 0 auto;
}

@font-face {
  font-family: 'Pirulen';
  src: local('../font/pirulen.tff') format("truetype");
}

h1 {
  position: relative;
  padding: 10px;
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 50px;
}

p {
  color: black;
  padding: 10px;
}

label {
  font-size: 20px;
  color: black;
}

form {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

ul {
  margin: 0 505px 0 505px;
  display: block;
}

ul[data-width='3'] {
  width: 307px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
}

ul[data-width='4'] {
  width: 409px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
}

ul[data-width='5'] {
  width: 510px;
  position: absolute;
  top: 55%;
  left: -10%;
  transform: translate(-50%, -50%);
}

ul[data-width='6'] {
  width: 615px;
  position: absolute;
  top: 55%;
  left: -10%;
  transform: translate(-50%, -50%);
}

ul[data-width='7'] {
  width: 615px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
}

li {
color: black;
border: 1px solid black;
list-style: none;
float: left;
margin: 0 auto;
padding: 50px;
position: relative;
display: inline;
width: 80px;
height: 80px;
background-color: rgb(120, 255, 0);
border-color: black;
}

.timer.active {
  background-color: transparent;
  color: black;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 39.6%;
  left: 76.3%;
  transform: translate(-50%, -50%);
}

.timer {
  height: 70px;
  width: 70px;
  display: block;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  color: black;
  margin: 5px auto;
  position: absolute;
  top: 39%;
  left: 76.3%;
  transform: translate(-50%, -50%);
}

.display {
  margin: 5px auto;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 5px 0;
  border: 2px solid black;
  text-align: center;
  width: 150px;
  animation: pulse 5s infinate;
  position: absolute;
  margin: auto;
  top: 45%;
  left: 70.5%;
  transform: translate(-50%, -50%);
}

/*-------------------------------CONTROL BUTTONS------------------------------*/

.reset {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid black;
  font-size: 15px;
  color: black;
  outline: none;
  position: absolute;
  top: 57%;
  left: 68.4%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.play {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 15px;
  outline: none;
  position: absolute;
  top: 57%;
  left: 76%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.playaudio {
  padding: 5px;
  display: inline;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  color: black;
  position: absolute;
  top: 57%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

/*------------------------SCORE BOARD AND RESULT------------------------------*/

.score-board {
  padding: 5px 42px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 400;
  display: inline;
  color: black;
  position: absolute;
  top: 63%;
  left: 71%;
  transform: translate(-50%, -50%);
}

.result {
  padding: 5px 41px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 400;
  display: inline;
  text-transform: uppercase;
  color: black;
  position: absolute;
  top: 63%;
  left: 83.8%;
  transform: translate(-50%, -50%);
}

/*----------------------------------------------------------------------------*/

.difficulty {
  background: none;
  outline: none;
  border: 2px solid white;
  font-size: 15px;
  text-align: center;
  color: white;
}

#chosen-difficulty {
  font-size: 19px;
  color: black;
}

.sonic {
  background-image: url('../images/sonic.gif');
  background-position: center;
  background-size: cover;
}

.all {
  margin: 415px 0 0 0;
}

.main-page {
  margin: 0 auto;
  background-color: none;
  position: relative;
  color: white;
  text-align: center;
}

.starter {
  width: 1425px;
  height: 830px;
  position: relative;
}

.wall {
  color: black;
  border: 1px solid black;
  list-style: none;
  float: left;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  width: 80px;
  height: 80px;
  border-color: black;
  border-width: thin;
  transition: background-color 0.2s ease;
}

.wall.hit {
  background-color: red;
}

.chosen {
  color: white;
  font-size: 20px;
  display: inline;
  position: relative;
}

.playgame {
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background: none;
  padding: 1px 15px 2px 15px;
  outline: none;
  display: inline;
  border: 2px solid white;
}

.control {
  margin: 20px auto;
  text-align: center;
  clear: both;
}

.status {
  margin: 20px auto;
  text-align: center;
}

.raiden {
  font-size: 15px;
  color: #000000;
}

.heart {
  color: red;
  font-size: 15px;
}

.ga {
  width: 29px;
  height: 25px;
  bottom: 18px;
  margin:0px 0px -5px 3px;
}

.at {
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

footer {
  position: fixed;
  display: inline;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 640px) {
  body {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 30px;
    margin-top: 0 auto;
  }

  main {
    margin: 0 auto;
  }

  footer {
    position: fixed;
    display: inline;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0;
    font-family: century, fantasy;
    font-size: 8px;
  }

  .raiden {
    font-size: 11px;
  }

  .heart {
    font-size: 10px;
  }

  .at {
    font-size: 13px;
  }

  .ga {
    width: 18px;
    height: 16px;
    bottom: 6px;
    margin: 0px 0px -4px 3px;
  }

  ul[data-width='3'] {
    width: 150px;
    margin: 5px auto;
  }

  ul[data-width='4'] {
    width: 200px;
    margin: 5px auto;
  }

  ul[data-width='5'] {
    width: 250px;
    margin: 5px auto;
  }

  ul[data-width='6'] {
    width: 300px;
    margin: 5px auto;
  }

  ul[data-width='7'] {
    width: 300px;
    margin: 5px auto;
  }

  li {
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  p {
    padding: 1px;

  }

  .wall {
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  .status {
    margin: 10px auto;
    font-size: 15px;
    text-align: center;
  }

  .difficulty {
    margin: 0 auto;
    border: 1px solid white;
    font-size: 12px;
    text-align: center;
    outline: none;
  }

  .chosen {
    color: white;
    font-size: 13px;
    display: inline;
    position: relative;
  }

  .timer {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 30px;
  }

  .display {
    margin: 2px auto;
    width: 20%;
    border-radius: 25px;
    display: block;
    padding: 5px 5px 5px 5px;
    text-align: center;
    animation: pulse 5s infinate;
    border: 1px solid black;
  }

  .playgame {
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 10px;
  }

  .play {
    padding: 6px;
    font-size: 10px;
    margin: 5px auto;
  }

  .reset {
  padding: 6px;
  font-size: 10px;
  margin: 5px auto;
  }

  .playaudio {
    padding: 6px;
    font-size: 10px;
    margin: 5px auto;
  }

  #chosen-difficulty {
    font-size: 15px;
    color: black;
  }

  .result {
  margin: 10px 60px 10px 10px;
  border: 1px solid black;
  position: relative;
  display: inline;
  padding: 5px 5px;
  }

  .score-board {
  margin: 10px 10px 10px 60px;
  border: 1px solid black;
  position: relative;
  display: inline;
  padding: 5px 5px;
  }

  .control {
    margin: 5px auto;
    text-align: center;
    clear: both;
  }

  .all {
    margin: 0 auto;
  }
}
